/* Common styles */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

nav {
    position: fixed;
    background-color: rgb(230, 234, 245);
    width: 100%;
    height: 110px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 110px;
    margin: 0 7px;
}

nav ul li a {
    color: #001253;
    padding: 8px 18px;
    border-radius: 3px;
    font-size: 20px;
}

.logo-image {
    padding-left: 30px;
    height: 120px;
}

nav ul li a:hover {
    background: black;
    color: #fff;
}

.checkbtn {
    font-size: 35px;
    color: #0cb648;
    float: right;
    line-height: 96px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Home section */
.home {
    width: 100%;
    background-color: #0990ca;
    display: flex;
    color: white;
    padding-top: 180px;
    padding-left: 30px;
}

.home h1 {
    font-size: 50px;
}

.home p {
    line-height: 30px;
    font-size: 20px;
    word-spacing: 3px;
}

.btn {
    background-color: transparent;
    color: white;
    font-size: large;
    height: 50px;
    width: 210px;
    border-radius: 6px;
    border-color: white;
    display: block;
    margin: auto;
    margin-left: 15px;
    cursor: pointer;
}

.home .btn a {
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: rgb(25, 81, 137);
    transition: .1s;
}


/* Delivery process section */
.delivery-process {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 20px;
}

.delivery-process div {
    background-color: #EEF1FF;
    border: 3px solid #7895B2;
    border-radius: 20px;
    height: 320px;
    width: 320px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.delivery-process div img {
    height: 170px;
}

.delivery-process p {
    font-size: 18px;
}

/* Milk Product section */

.product h2 {
    color: #001253;
    text-align: center;
    font-size: 38px;
}

.product-container {
    display: grid;
    padding: 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

}

.product div {
    border: 3px solid rgb(180, 180, 214);
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product div img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}

.product div p {
    font-size: 20px;
    color: rgb(35, 34, 34);
    margin-bottom: 30px;
    padding: 0px 50px;
}

.product h3 {
    color: black;
    font-size: 24px;
    text-decoration: underline;
}

.product .btn {
    background-color: #1D5D9B;
    color: white;
    font-size: large;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 0px;
    text-decoration: none;
    display: inline-block;
}

.product .btn a {
    text-decoration: none;
    color: white;
}

.product .btn:hover {
    background-color: #143f6a;
    transition: .1s;
}

/* Guaranteed section */
.guaranteed-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0990ca;
    color: white;
    padding: 60px 20px;
}

.guaranteed-section h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.guaranteed-section p {
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.guaranteed-section .watch,
.guaranteed {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.guaranteed-section .watch img,
.guaranteed img {
    height: 150px;
}

/* Contact Us section */
.section-contact-us {
    text-align: center;
    background-color: white;
    padding: 40px;
}

.section-contact-us button {
    background-color: #1D5D9B;
    font-size: large;
    border-radius: 10px;
    border-color: white;
    padding: 10px 30px;
    margin-bottom: 30px;
    text-decoration: none;
}

.section-contact-us button a {
    text-decoration: none;
    color: white;
}

.section-contact-us button:hover {
    background-color: #184c80;
}

.social-media {
    margin-bottom: 20px;
}

.social-media a {
    font-size: 30px;
    padding: 0 15px;
    color: black;
}

.social-media a:hover {
    color: #184c80;
}

.social-media {
    margin-bottom: 25px;
}

.copyright p {
    font-size: 20px;
    color: grey;
}

/* Media Queries for Responsive Design */

/* For devices with a screen width less than 768px (e.g., smartphones) */
@media screen and (max-width: 767px) {

    /* Navigation Bar Section..... */
    nav {
        height: 90px;
    }

    .logo-image {
        height: 100px;
        padding-left: 8px;
    }

    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(230, 234, 245);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 40px;
    }

    nav ul li a {
        padding: 10px 25px;
        font-size: 22px;
    }

    a.hover {
        background: none;
        color: #73280f;
    }

    #check:checked~ul {
        left: 0;
    }

    /* Home Section.... */
    .home {
        padding-top: 130px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 30px;
    }

    .home img.cow {
        width: 60%;
        max-width: 450px;
    }

    .home h1 {
        font-size: 32px;
    }

    .home p {
        font-size: 18px;
    }

    .home .btn {
        width: 180px;
        margin: 20px auto;
    }

    /* Delivery Section....  */
    .delivery-process {
        justify-content: flex-start;
    }

    .delivery-process div {
        width: 100%;
    }

    /* Milk Product Section..... */
    .product h2 {
        font-size: 32px;
    }

    .product-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        gap: 20px;
    }

    .product div {
        padding: 30px;
    }

    .product div img {
        height: 200px;
    }

    .product div p {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 0px;
    }

    /* Guaranteed Section....  */
    .guaranteed-section .watch,
    .guaranteed-section .guaranteed {
        width: 100%;
    }

    .guaranteed-section p {
        margin-bottom: 40px;
    }

    /* Copyright Section... */
    .copyright p {
        font-size: 15px;
    }
}

/* For devices with a screen width between 768px and 1024px (e.g., tablets) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    nav {
        height: 100px;
    }

    .logo-image {
        padding-left: 10px;
        height: 110px;
    }

    nav ul li {
        margin: 0 3px;
    }

    .home {
        padding-top: 150px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home>div {
        margin: 10px;
    }

    .home h1 {
        font-size: 36px;
    }

    .home .btn {
        width: 180px;
        margin: 20px auto;
    }

    .home img.cow {
        width: 60%;
        max-width: 700px;
    }

    .home p {
        font-size: 18px;
    }

    .product-container {
        padding: 20px;
        gap: 20px;
    }

    .product div img {
        height: 200px;
    }

    .product div {
        padding: 30px;
    }

    .product div p {
        font-size: 18px;
        margin-bottom: 20px;
        padding: 0px;
    }

    .delivery-process div {
        width: 45%;
    }
}
